* {
  font-size: 100%;
  font-family: Monospace;
 }
 ::-webkit-scrollbar{
	background-color: transparent;
	width: 10px;
}

::-webkit-scrollbar-track-piece{
	background-color: #cbcbcb34;
}

::-webkit-scrollbar-thumb{
	background-color: #313131;
	outline-offset: -2px;
}

::-webkit-scrollbar-thumb:hover{
	background-color: #6b6b6b;
}
body{
  margin: 0;
  padding: 0;
  background-color: #404040;
  opacity: 1;
  background-image:  linear-gradient(#676767 2.4000000000000004px, transparent 2.4000000000000004px), linear-gradient(90deg, #676767 2.4000000000000004px, transparent 2.4000000000000004px), linear-gradient(#676767 1.2000000000000002px, transparent 1.2000000000000002px), linear-gradient(90deg, #676767 1.2000000000000002px, #404040 1.2000000000000002px);
  background-size: 60px 60px, 60px 60px, 12px 12px, 12px 12px;
  background-position: -2.4000000000000004px -2.4000000000000004px, -2.4000000000000004px -2.4000000000000004px, -1.2000000000000002px -1.2000000000000002px, -1.2000000000000002px -1.2000000000000002px;  
} 
#gm-controls{
  background-color: #a5aab0;
  border-radius: 8px;
  max-width: 16vw;
  text-align: center;
}
#loops{
  background-color: #a5aab0;
  width: 450px;
  border-radius: 8px;
  text-align: center;
}
#loops table tr {
  background-color: #f9f9f9; /* Light grey background */
  color: #333; /* Darker text color for contrast */
  border-bottom: 1px solid #ddd; /* A subtle bottom border for each row */
}

#loops table tr:nth-child(odd) {
  background-color: #efefef; /* Slightly different color for odd rows for zebra striping */
}

#triggered-loop-row td{
  border: 2px solid rgb(255, 0, 0);
}
#search-container{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.middlepane{
  min-width: 50vw;
  min-height: 650px;
  float: left;
  border-collapse: collapse;
  overflow-y: scroll;
  height:97vh;
}
.leftpane{
  background-color: #b0b2b5;
    resize: both;
    width: 16vw;
    min-width: 350px;
    min-height: 400px;
    float: left;
    border-collapse: collapse;
    height:97vh;
    border-radius: 8px;
}
.rightpane{
   width: available;
   position: relative;
   overflow-y: scroll;
   margin-left: 50%;
   height:97vh;
   border-collapse: collapse;
   overflow: hidden;
}

.toppane{
   width: available;
   height: 100px;
   border-collapse: collapse;
   background-color: #4da6ff;
}
.advisaries-list-container{
  overflow-y: scroll;
  height:95vh;
}
.card {
  width: 615px;
  background-color: #b0b2b5;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 20px auto;
  overflow: hidden;
  padding: 5px 0px 5px 0px;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.2);
  position: relative;
  
}
.adv-plain-card{
  transition: 0.4s;
}
.adv-plain-card:hover{
  transform: scale(1.02);
  -webkit-font-smoothing: subpixel-antialiased;
  backface-visibility: hidden;
}
.description-area{
  background-color: #1abc9c61;
}
.page-link{
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-left: 5vh;
  padding: 0 1vh 0 1vh;
  border-style: none solid none solid;
  text-decoration: none;
  color: white;
  transition: 0.3s;
}
.page-link:hover{
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  background-color: #00000054;
  transform: scale(1.02);
  -webkit-font-smoothing: subpixel-antialiased;
  backface-visibility: hidden;
}
select {
	border: none;
	outline: none;
	border-bottom: .2em solid #0b5344;
	background: #f3fffd;
	border-radius: .2em .2em 0 0;
	padding: .2em;
	color: #0b5344;
  height: 22.19px;
}
input,.editable-text {
	appearance: none;
	border: none;
	outline: none;
	background: #f3fffd;
	border-radius: .2em;
	padding: .2em;
	color: #0b5344;
  margin: 2px;
}
input, select{
  transition: 0.3s;
}
input:hover, select:hover, textarea:hover,.editable-text:hover{
  box-shadow: 2px 2px #0b463a;
}
input:focus, select:focus, textarea:focus,.editable-text:focus{
	background: #e1fffa;
}
input[type=text],.editable-text{
	border-radius: .2em .2em 0 0;
	border-bottom: .2em solid #0b5344;
} 
textarea {
	appearance: none;
	border: none;
	outline: none;
  margin: 2px;
	border-top: .2em solid #0b5344;
	background: #f3fffd;
	border-radius: .2em .2em 0 0;
	padding: .2em;
	color: #0b5344;
}
.banner-header{
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  position: relative;
  color: white;
  overflow: hidden;
  background-image: linear-gradient(to left,#1abc9c,transparent ,transparent , rgba(0, 0, 0, 0.169));
  background-color: #1abc9c;
  display: flex;
  flex-flow: row nowrap;
  min-height: 1vh;
  max-height: 5vh;

}
.header{
  overflow: hidden;
  background-image: linear-gradient(to left,rgba(255, 255, 255, 0.471),transparent ,transparent , rgba(0, 0, 0, 0.169));
  background-color: #bcceeb;
  text-align: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.inline{
  overflow: hidden;
  display: flex;
  flex-flow: row nowrap;
}
.inline-center{
  overflow: hidden;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.card p {
  user-select: none;
}

.card h2 {
  margin-top: 0;
}

.card p {
  margin: 5px 0;
}

.card ul {
  list-style-type: none;
  padding: 0;
}

.card ul li {
  padding: 1px;
}
#advisaries-list-container {
  max-height: 400px; /* Adjust based on your needs */
  overflow-y: auto; /* Enables vertical scrolling */
  border: 1px solid #ccc; /* Optional: adds a border around the container */
}
#advisaries-list-container table tr {
  background-color: #f9f9f9; /* Light grey background */
  color: #333; /* Darker text color for contrast */
  border-bottom: 1px solid #ddd; /* A subtle bottom border for each row */
}

#advisaries-list-container table tr:nth-child(odd) {
  background-color: #efefef; /* Slightly different color for odd rows for zebra striping */
}

.table-head-row td{
  background-color: #b8b8b8;
  cursor: pointer;
  user-select: none;
  transition: 0.5s;
}
.table-head-row td:hover{
  background-color: #797979;
  color: white;
}

.card ul li strong {
  font-weight: bold;
  display: block;
}

.card ul li p {
  margin-top: 2px;
}
.left-column {
    float:left; /* add this */
}

.right-column {
    overflow: hidden; /* Adjust spacing between left and right columns */
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1.5fr; /* Two columns layout */
  gap: 0px; /* Gap between columns */
}

.advisary-description {
  margin-top: 20px;
}

.button-text{
  background-color: #d1d1d1;
  margin: 1px;
  border-radius: 9px;
  padding: 3px 8px;
  user-select: none;
  transition: 0.2s;
  box-shadow: 1px 1px #0b4c3fc9;
}
.button-text:hover{
  background-color: #696969;
  color: white;
  cursor:pointer;
  box-shadow: 2px 2px #23c2a2c9;
  transform: scale(1.05);
}
.button-text:active{
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  transform: scale(0.8);
}
.bubble-text{
  border-radius: 4px;
  padding: 1px 1px;
  transition: 0.2s;
}
.bubble-text:hover{color: white;cursor: pointer;}
.controls-header{
  width: available;
  margin: auto;
  height: 30px;
  border-collapse: collapse;
  background-color: #758ea6;
  text-align: center;
  font-size: 25px;
}

.fear-holder{
  border-width: 1px;
  background-color: #3f3f3f;
  border: 2px  solid  #000000;
  border-radius: 4px;
  padding:3px;
}
.button-fear{
  background-color: #8f6464;
  border-radius: 2px;
  padding: 3px 8px;
  width: 18px;
  height:12px;
  user-select: none;
}
.button-fear-grayed{
  background-color: #dbd0d0;
}
.button-fear:hover{
  background-color: #c3a8a8;
  color: white;
  cursor: pointer;
}
.action-token{
  background-color: #4887a4;
  border:2px solid  #06072b;
  border-radius: 9px;
  margin-left: 3px;
  width: 15px;
  height:15px;
  user-select: none;
}
.clickable-header{
  overflow: hidden;
  background-color: #bcceeb;
  text-align: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.clickable-header:hover{
  border:rgba(0, 0, 0, 1);
  color: rgb(111, 53, 53);
  cursor: pointer;
}
.not-highlight{
  user-select: none;
}

#minionCont { /* Adjust based on your needs */
  border: 1px solid rgb(70, 70, 70); /* Optional: adds a border around the container */
}
#minionCont tr { /* Light grey background */
  border-bottom: 1px solid #ddd; /* A subtle bottom border for each row */
  border: 1px solid rgb(70, 70, 70);
}

#minionCont tr:nth-child(odd) {
  background-color: #828282; /* Slightly different color for odd rows for zebra striping */
}
